---
title: "ssai
call_to_action: Contact
background_image_path:
large_header: true
---

<!--testimonials:
  - message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a business.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Joice Carmold
  - message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the community.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60-->

<div class="editable">
	<p>Le Collectif Interfacultaire Représentant les Externes en Médecine (CIREM) est une association dédiée à la représentation des étudiants en médecine de la 4ème à la 6ème année. Basé sur un modèle de démocratie directe, le CIREM utilise de nombreux sondages pour recueillir les avis de ses membres et s'appuie sur l'expertise de professionnels, notamment juridiques, pour les aider dans leurs démarches. </p>

	<p>Notre mission est de garantir que les voix des externes en médecine soient entendues et que leurs intérêts soient défendus de manière efficace et équitable.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>


<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Update Staff Members</a></p>

<ul class="staff-list">
	{% for member in site.staff_members %}
		<li class="staff">
			<div class="staff-details">
				<div class="staff-image">
					<img src="{{ member.image }}" alt="Staff photo for {{ member.name }}" width="120" height="120">
				</div>
				<ul class="staff-info">
					<li>{{ member.name }}</li>
					<li><small>{{ member.credentials }}</small></li>
					<!-- <li><a href="tel:{{ site.data.company.phone }}">{{ site.data.company.phone }}</a>  ext {{ member.phone_extension }}</li> -->
				</ul>
			</div>

			<div class="staff-bio">
				<p>{{ member.content | markdownify }}</p>
			</div>
		</li>
	{% endfor %}
</ul>
